* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  background: #000;
  font-family: 'Roboto', sans-serif;
}

.card {
  background: white;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.26);

  border-radius: 5px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.26);
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: none;
}

.backdrop.on {
  display: block;
}

.modal {
  width: 50%;
  max-width: 40rem;
  padding: 1rem;
  position: fixed;
  top: 30vh;
  left: 25%;
  display: none;
  z-index: 100;
}

.modal h3 {
  margin: 0 0 1rem 0;
}

.modal p {
  margin: 0 0 1rem 0;
}

.modal div {
  display: flex;
  justify-content: flex-end;
}

.modal.on {
  display: block;
}


.form-box {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 1rem;

}

.form-box label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-box input {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 0.25rem;
  outline: none;
  border: 1px solid black;
}

.form-box input:focus {
  border: 1px solid #d820d8;
}


/* .form-box button {
  font: inherit;
} */

.btn {
  font: inherit;
  outline: none;
  border: 1px solid purple;
  background: purple;
  padding: 0.5rem;
  color: white;
}

.btn:hover,
.btn:active {
  background: #d820d8;
  border: 1px solid #d820d8;
}


.userlist {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 1rem;
}

.userlist ul {
  list-style: none;
  /* margin-bottom: 0.5rem; */
  padding: 0;
  margin: 0;

}

.userlist ul li {
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.26);
}

@media(min-width : 900px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}