:root {
  /* color */
  ---white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* size */
  --padding: 12px;
  --avatar-size: 30px;


  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.head-line {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(---white-color);
}



.player video {
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 350px;
}

.player {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--black-color)
}

ul {
  list-style: none;
  /* padding: 0; */
}

button, button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: var(---white-color);
}


.head-line__logo {
  font-size: var(--font-large)
}

.head-line__logo i {
  color: var(--red-color);
  margin-right: var(--padding);
}

.head-line .fa-magnifying-glass {
  margin-right: var(--padding)
}


body > .info {
  padding: var(--padding);
  /* display: flex;
  flex-flow: column; */
}

.info .metadata .hashtags {
  display: flex;
  color: var(--blue-color);
  font-size: var(--font-small);
  font-weight: bold;
}

.info .metadata .hashtags li {
  margin-right: var(--padding)
}

.info .metadata .titleAndButton {
  display: flex;

}

.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: var(--padding)
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
}

.info .views {
  font-size: var(--font-small)
}



.metadata .views {
  font-size: 12px;
  color: #00b4d8;
}



/* .metadata .titleAndButton button {
  background-color: white;
  border: none;
  align-self: center;
} */



.info .actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding)
}

.info .actions button {
  display: flex;
  flex-flow: column;
  font-size: var(--font-small)
}

.info .actions button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
}

/* .actions li i {
  display: block;
  margin-bottom: 4px;
} */

.actions li button {
  border: none;
  background-color: white;
}

.actions li button i.active {
  color: var(--blue-color)
}



/* .channels {
  display: flex;
} */

.channels {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-between;
  border-top: solid 1px var(--grey-light-color);
  border-bottom: solid 1px var(--grey-light-color)
}

.channels .metadata {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding: 0; */
}

.channels .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  margin-right: calc(var(--padding))
}

.channels .metadata .channels-info {
  display: flex;
  flex-flow: column;
}

.channels .metadata .channels-info .name {
  font-size: var(--font-medium);
}

.channels .metadata .channels-info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color)
}

.channels .subscribe {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium)
}

/* .channels .metadata span {
  display: block;
} */

/* .channels .metadata img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.channels .metadata .channels-info {
  flex-grow: 1;
}

.metadata .subscribe {
  align-self: center;
  background-color: white;
  border: none;
} */

.upnext > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: var(--padding);
}

.upnext ul .item {
  display: flex;
  margin-top: var(--padding);
}

.upnext ul .item .img {
  flex: 1 1 35%;
  margin-right: var(--padding)
}

.upnext ul .img img {
  width: 100%;
}

.upnext ul .info {
  display: flex;
  flex-flow: column;
  flex: 1 1 65%
}

.upnext ul button {
  flex: 1 1 5%;
  height: 100%;
}

.upnext ul .info .title {
  font-size: var(--font-medium);
}

.upnext ul .info .name {
  font-size: var(--font-small);
  color: var(--grey-dark-color)
}

.upnext ul .info .views {
  font-size: var(--font-micro);
  color: var(--grey-dark-color)
}

.upnext {
  padding: 0 var(--padding)
}



/* .upnext {
  padding: 10px;
}



.upnext ul li {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.upnext ul li img {
  width: 150px;
}

.upnext ul li .info {
  padding: 0 10px;
}

.upnext ul li button {
  align-self: flex-start;
  background-color: white;
  border: none;
} */